<br><br><br><br>
<div class="jumbotron">
  
    <form [formGroup]="contactForm">
        <div class="row">
            <div class="row col-sm-5">
                    
                <h1>User Info</h1>
            
                <br><br>
                <div class="form-group">
                    <label for="userid">User Id</label>
                    <input type="text" id="userid" name="userid" formControlName="userid" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" id="username" name="username" formControlName="username" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="email">Email-Adreesss</label>
                    <input type="email" id="email" name="email" formControlName="email" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" formControlName="phone" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <button class="btn btn-info" (click)="onPushUser()" [disabled]="!contactForm.valid">push user</button><span>    </span>
                    <button class="btn btn-success" type="reset" (click)="onSave()" [disabled]="!contactForm.valid">Save user</button>
                   
                </div>
            
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="row col-sm-6">
                <table class="table">
                    <tr>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    <tr *ngFor="let obj of myUser">
                        <td>{{obj.userid}}</td>
                        <td>{{obj.username}}</td>
                        <td>{{obj.phone}}</td>
                        <td>{{obj.email}}</td>
                    </tr>
                </table>
            </div> 
        </div>
    </form>
</div>
