
<nav class="navbar navbar-expand-lg  fixed-top" style= "background: linear-gradient(to right, #00ffff 0%,  #ff66ff 100%);">
 <div class="container-lg">
      <a class=" navbar-brand" routerLink="/home"><img class="logo" src="assets/2.png"alt=""  ></a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a mat-button routerLink="/home"style=color:white><mat-icon style=color:white>home</mat-icon > Home</a>
          <a mat-button routerLink="/about"style=color:white><mat-icon style=color:white>info</mat-icon> About us</a>
          <a mat-button routerLink="/order"style=color:white><mat-icon style=color:white>shopping_cart</mat-icon> Product</a>
          <a mat-button routerLink="/feedback"style=color:white><mat-icon style=color:white>favorite</mat-icon> Feedback</a>
          <a mat-button routerLink="/adminlogin"style=color:white>Admin</a>
        </div>
      </div>
    </div>
  </nav>




<router-outlet></router-outlet>

<app-footer></app-footer>