

    <img
      src="https://img.freepik.com/free-vector/organic-flat-printing-industry-illustration_23-2148897365.jpg?size=626&ext=jpg&page=3&query=flex%20printing&position=23&from_view=search&ga=GA1.2.1379686886.1650446144"
      height="630" class="card-img"   alt="..."/>
      <div class="card-img-overlay">
      <h1 style="color:   #ff6e9e;text-align: center;margin-top: 100px;text-align: center;font-family: georgia;font-size: 60px;font-weight: bold;">PRINTING SPOT</h1>
      <br><br>
    <p style=" color: #f872fd ; text-align: center;font-family: georgia;font-size: 30px;font-weight: bold;"><i>We are here to simplify your printing work ....</i> </p>
    <br><br>
    <div class="text-center">
    <button mat-raised-button style="background-color:blueviolet;color:white" routerLink="/feedback">Feedback</button>
    </div>
</div>
